@page "/"

<PageTitle>Home</PageTitle>

<h1>OneStream - Assessment</h1>
<br>
This app shows very important topics like:
<br>
<br>
- Clean Architecture in Blazor
<br>
- Secure APIs with Keys
<br>
- Secure APIs with JWT Tokens
<br>
- Web API Consumption
<br>
- Security on the UI level
<br>
- Service Patterns
<br>
- Using InMemory Databases
<br>
- MudBlazor for better UIs
<br>
- etc
<br>
<br>

To use it you need an Free API Key from:
<br>
<br>
<a href="https://home.openweather.co.uk/users/sign_in">Open Weather</a>


